#build files
gen/
bin/
build/
out/
output/
releases/
R.java

#idea files
.idea/
*.iml
*.ipr
*.iws

# conflict files
*.orig
*.chg
*.rej
*.conflict

# backup files
*.bak

#eclipse files
local\.properties
target
.classpath
.settings
.project

#Mac files
.DS_Store

#hg files
.hg/
.hgignore

#gradle
.gradle
ant.properties
build.xml
